@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #16B378;
  --color-primary-hover: #009058;
  --color-secondary: #FFFFFF;
  --color-message: #DCF4EB;
  --color-message-hover: #e6f0ec;

  --font-lato: "Lato", sans-serif;
}

:root {
  font-family: var(--font-lato);
}
